<div class="footcolor">
  <p>English (US) Español Français (France) 中文 (简体) العربية Português (Brasil) Italiano 한국어 Deutsch हिन्दी …</p>

  <p>Sign Up Log In  Messenger Mobile  Find Friends  Badges  People  Pages Places  Games</p>

  <p>Locations About Create Ad Create Page Developers  Careers Privacy Cookies Terms Help</p>

  <p>Fakebook © 2015</p>
  <p>English (US)</p>
</div>
